
.header
{

    background-color: rgb(126, 205, 236);
	line-height: 70px;
	padding-left: 30px;	
    padding: 20px;
    margin: 0;
}

.uheader
{

    background-color: rgb(121, 218, 129);
	line-height: 70px;
	padding-left: 30px;	
    padding: 20px;
    margin: 0;
}



.logout
{
	float: right;
	padding-right: 30px;
}

aside ul
{
	background-color: #1f4cac;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	text-align: inherit;
    padding-left: 10px;
}

.upanel ul
{
	background-color: #226425;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	text-align: inherit;
    padding-left: 10px;
}

ul li 
{
	list-style: none;
	padding-bottom: 30px;
	font-size: 15px;

}

a,a:hover 
{
	text-decoration: none!important;
}

ul li a 
{
	color: white;
	font-weight: bold;
}

ul li a:hover
{
	color: skyblue;
	text-decoration: none!important;
}

.upanel ul li a:hover
{
	color: rgb(116, 221, 121);
	text-decoration: none!important;
}


.content
{
	margin-left: 20%;
	margin-top: 5%;
}

#adm{
	font-weight: bold;
	font-size: 30px;
	color: black;
}

#usr{
	font-weight: bold;
	font-size: 30px;
	color: black;
}

nav ul li {
    color: black;
    display: inline-block;
    top: 0;
    border-spacing: 10px;
    line-height: 60px;
    margin: 0 5px;
}

table, tr, th {
	border: 1px solid black;
}

.announcement1{
	color: blue;
	width: 30cm;
	height: 10cm;
}

.signmsg{
    background-color: rgb(22, 139, 22);
    color: white;
}