nav {
    position: relative;
    background-color: rgb(118, 155, 185);
    height: 80px;
    width: 100pc;
    font-size: large;
    z-index: 1;
    word-spacing: 30px;
}

* {
    padding: 0px;
    margin:0cm
}

ul li {
    position: center;
    display: inline-block;
    line-height: 70px;
    line-break: auto;
    
}

nav ul li a {
    word-spacing: 1px;
}

.jumbotron {
    display: contents;
}