a:hover {
    color: blue;
}


nav ul li {
    color: black;
    display: inline-block;
    top: 0;
    border-spacing: 10px;
    line-height: 60px;
    margin: 0 5px;
}

body {
    background-color: white;
}

.btn .btn-success {
    color: white;
}

header {
    background-color: rgb(182, 217, 219);
    padding: 20px;
    margin: 30px;
    text-align: center;
}

.announce p1 {
    display: right;
}

.form {
    position: center;
}